<h1>this is a great man we're talking about here</h1>
<p>{{aman}} was my hero ... hats off</p>
<p>I wish we could have the likes of him again walk upon the earth. But being able to witness his like once alone was enough for mother earth.</p>
<p>another para added after the file was first loaded</p>
<p>and hence he once had a group of people he lived with
  {{#each values}}

  <h2>{{@index}}. {{this}}</h2>
  {{/each}}

</p>

<h3>{{Person.comments.comment}}</h3>
{{#if Person.admin}}
<h4> admin he bhai..better listen to him</h4>
{{else}}
<h4> normal user</h4>

{{/if}}




{{#with Person}}
<h4>
  {{comments.comment}}
</h4>
{{#with comments}}
  <h5>
    {{date}}
  </h5>
{{/with}}
{{/with}}